<c-container>
  <c-row>
    <c-col xs="12" md="12">
      <c-card>
        <c-card-header>
          <strong>Formulario de Institución</strong>
        </c-card-header>
        <c-card-body>
          <h6 class="text-primary mb-3">Datos de Institución</h6>
          <form cForm novalidate [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation">
            <c-row class="g-3">
              <c-col xs="12" md="6">
                <div class="mb-3">
                  <label cLabel for="name">Nombre (*)</label>
                  <c-input-group class="has-validation">
                    <input cFormControl formControlName="name" placeholder="Nombre de institución"
                      aria-describedby="name-span" id="name" type="text" [ngClass]="{
                        'is-invalid':
                          form.get('name')?.invalid && form.get('name')?.touched
                      }" />
                    <c-form-feedback *ngIf="
                        form.get('name')?.invalid && form.get('name')?.touched
                      " [valid]="form.valid">
                      {{ getErrorMessage("name") }}
                    </c-form-feedback>
                  </c-input-group>
                </div>
              </c-col>

              <c-col xs="12" md="6">
                <div class="mb-3">
                  <label cLabel for="address">Dirección (*)</label>
                  <c-input-group class="has-validation">
                    <input cFormControl formControlName="address" placeholder="Dirección"
                      aria-describedby="address-span" id="address" type="text" [ngClass]="{
                        'is-invalid':
                          form.get('address')?.invalid &&
                          form.get('address')?.touched
                      }" />
                    <c-form-feedback *ngIf="
                        form.get('address')?.invalid &&
                        form.get('address')?.touched
                      " [valid]="form.valid">
                      {{ getErrorMessage("address") }}
                    </c-form-feedback>
                  </c-input-group>
                </div>
              </c-col>
            </c-row>
            <hr class="my-4" />
            <h6 class="text-primary mb-3">
              Configuración adicional (opcional)
            </h6>
            <c-row class="g-3">
              <c-col xs="12" md="6">
                <div class="mb-3">
                  <label cLabel for="deadline_for_closing_a_complaint">
                    Días de límite para cerrar una reclamación
                  </label>
                  <c-input-group class="has-validation">
                    <input cFormControl formControlName="deadline_for_closing_a_complaint" placeholder="Número de días"
                      aria-describedby="deadline-for-closing-a-complaint-span" id="deadline_for_closing_a_complaint"
                      type="number" [ngClass]="{
                        'is-invalid':
                          form.get('deadline_for_closing_a_complaint')
                            ?.invalid &&
                          form.get('deadline_for_closing_a_complaint')?.touched
                      }" />
                    <c-form-feedback *ngIf="
                        form.get('deadline_for_closing_a_complaint')?.invalid &&
                        form.get('deadline_for_closing_a_complaint')?.touched
                      " [valid]="form.valid">
                      {{ getErrorMessage("deadline_for_closing_a_complaint") }}
                    </c-form-feedback>
                  </c-input-group>
                </div>
              </c-col>

              <c-col xs="12" md="6">
                <div class="mb-3">
                  <label cLabel for="amount_of_negative_annotations">
                    Cantidad de anotaciones negativas
                  </label>
                  <c-input-group class="has-validation">
                    <input cFormControl formControlName="amount_of_negative_annotations" placeholder="Cantidad"
                      aria-describedby="amount-of-negative-annotations-span" id="amount_of_negative_annotations"
                      type="number" [ngClass]="{
                        'is-invalid':
                          form.get('amount_of_negative_annotations')?.invalid &&
                          form.get('amount_of_negative_annotations')?.touched
                      }" />
                    <c-form-feedback *ngIf="
                        form.get('amount_of_negative_annotations')?.invalid &&
                        form.get('amount_of_negative_annotations')?.touched
                      " [valid]="form.valid">
                      {{ getErrorMessage("amount_of_negative_annotations") }}
                    </c-form-feedback>
                  </c-input-group>
                </div>
              </c-col>

              <c-col xs="12" md="6">
                <div class="mb-3">
                  <label cLabel for="logo">
                    Logo de la institución
                  </label>
                  <c-input-group class="has-validation">
                    <image-input formControlName="logo"></image-input>
                    <c-form-feedback *ngIf="
                        form.get('logo')?.invalid &&
                        form.get('logo')?.touched
                      " [valid]="form.valid">
                      {{ getErrorMessage("logo") }}
                    </c-form-feedback>
                  </c-input-group>
                </div>
              </c-col>
            </c-row>

            <c-row>
              <c-col xs="12">
                <div class="d-flex justify-content-end">
                  <button cButton class="btn" [ngClass]="{
                      'btn-primary': !isUpdateAction,
                      'btn-warning': isUpdateAction
                    }" type="submit" [disabled]="(loading$ | async)">
                    <ng-container *ngIf="loading$ | async; else showText">
                      <c-spinner aria-hidden="true" size="sm"></c-spinner>
                    </ng-container>
                    <ng-template #showText>
                      <span>{{ !isUpdateAction ? "Ingresar" : "Actualizar" }}</span>
                    </ng-template>
                  </button>
                </div>
              </c-col>
            </c-row>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>