<c-container *ngIf="sociogram !== null">
  <c-row class="justify-content-md-center">
    <c-col xs="12" md="9">
      <c-card class="mb-4">
        <c-card-header>
          <c-row class="d-flex justify-content-center align-items-center">
            <h4 style="text-align: center">
              {{ sociogram.title }} - Versión {{ sociogram.version }} sociograma
            </h4>

            <c-alert
              color="warning"
              *ngIf="is_finished_sociogram"
              style="text-align: center"
            >
              Sociograma Finalizado
            </c-alert>
          </c-row>
        </c-card-header>
        <c-card-body>
          <form [formGroup]="form">
            <div *ngFor="let question of sociogram.questions; let i = index">
              <div class="mb-4">
                <label class="form-label fw-bold">{{ question.title }}</label>

                <!-- Selector simple -->
                <div
                  *ngIf="
                    question.enum_as_options !== 'StudentsClassmate' &&
                    !question.is_multiple_choice
                  "
                >
                  <c-form-check
                    *ngFor="let option of getOptions(question.enum_as_options)"
                  >
                    <input
                      [attr.disabled]="is_finished_sociogram ? true : null"
                      cFormCheckInput
                      type="radio"
                      formControlName="question_{{ question.id }}"
                      [value]="option.value"
                      [name]="'question_' + question.id"
                      [checked]="option.value"
                      (change)="
                        onChange(question.id, question.enum_as_options, false)
                      "
                    />
                    <label cFormCheckLabel> {{ option.label }}</label>
                  </c-form-check>
                </div>

                <!-- Selector múltiple -->
                <div *ngIf="question.enum_as_options === 'StudentsClassmate' || question.is_multiple_choice">
                  <c-multi-select
                    [disabled]="is_finished_sociogram"
                    clearSearchOnSelect
                    visibleItems
                    formControlName="question_{{ question.id }}"
                    [multiple]="question.is_multiple_choice"
                    [selectAll]="false"
                    searchNoResultsLabel="No se encuentra registro de busqueda"
                    (visibleChange)="
                      onChangeClassMates(
                        $event,
                        question.id,
                        question.enum_as_options,
                        question.is_multiple_choice
                      )
                    "
                  >
                    <c-multi-select-option
                      *ngFor="
                        let option of getOptions(question.enum_as_options)
                      "
                      [disabled]="isOptionDisabled(question.id, option.value)"
                      [value]="option.value"
                    >
                      {{ option.label }}
                    </c-multi-select-option>
                  </c-multi-select>
                </div>
              </div>
            </div>
          </form>
        </c-card-body>
        <c-card-footer
          style="
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 1em;
          "
        >
          <button
            [disabled]="is_finished_sociogram"
            cButton
            class="btn-primary"
            (click)="onFinishSociogram()"
          >
            Finalizar Sociograma
          </button>
        </c-card-footer>
      </c-card>
    </c-col>
  </c-row>
</c-container>
