.canvas {
  height: 35rem;
}

#reporte-container {
  padding: 0; // o un padding muy pequeño
}

.page {
  padding: 10mm;
  page-break-after: always;
}

.avoid-break {
  break-inside: avoid;
  display: block;
}