<c-row>
  <c-col md="12">
    <div class="mb-3">
      <label cLabel for="email">Email</label>
      <c-input-group class="has-validation">
        <span cInputGroupText id="email-span">
          <svg cIcon name="cilUser"></svg>
        </span>
        <input
          cFormControl
          [(ngModel)]="email"
          placeholder="ejemplo@gmail.com"
          aria-describedby="email-span"
          id="email"
          type="email"
          [disabled]="isLoading | async"
        />
      </c-input-group>
    </div>
  </c-col>

  <c-col xs="6" [offset]="{ xs: 8 }">
    <button
      cButton
      class="me-1"
      style="
        background-color: #fd7607;
        color: white;
        border: none;
        outline: none;
      "
      type="submit"
        (click)="onSubmit()"
      [disabled]="isLoading | async"
    >
      <ng-container *ngIf="isLoading | async; else showText">
        <c-spinner aria-hidden="true" size="sm"></c-spinner>
      </ng-container>
      <ng-template #showText> Solicitar </ng-template>
    </button>
  </c-col>
</c-row>
