<c-row>
  <c-col [xl]="9">
    <c-card class="mb-4">
      <c-card-body class="p-4">
        <c-row>
          <c-col>
            <h5 cCardTitle class="fs-4 fw-semibold">Users</h5>
            <h6 cCardSubtitle class="fw-normal text-body-secondary mb-4">
              1.232.150 registered users
            </h6>
          </c-col>
          <c-col class="ms-auto" [xs]="'auto'">
            <button cButton color="secondary">
              <svg cIcon class="me-1" name="cilUserPlus"></svg>
              Add new user
            </button>
          </c-col>
        </c-row>
        <table align="middle" cTable class="mb-0" hover [responsive]="true">
          <thead class="fw-semibold text-body-secondary">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th>User</th>
              <th class="text-center">Country</th>
              <th>Usage</th>
              <th>Activity</th>
            </tr>
          </thead>
          <tbody>
            @for (item of tableExample; track index; let index = $index) {
            <tr>
              <td class="text-center">
                <c-avatar
                  [src]="item.avatar.src"
                  [status]="item.avatar.status"
                  size="md"
                />
              </td>
              <td>
                <div>{{ item.user.name }}</div>
                <div class="small text-body-secondary text-nowrap">
                  <span>{{ item.user.new ? "New" : "Recurring" }}</span> |
                  Registered:{{ " " }}{{ item.user.registered }}
                </div>
              </td>
              <td class="text-center">
                <svg
                  [name]="item.country.flag"
                  [title]="item.country.name"
                  cIcon
                  size="xl"
                ></svg>
              </td>
              <td>
                <div
                  class="d-flex justify-content-between align-items-baseline mb-1"
                >
                  <div class="fw-semibold">{{ item.usage.value }}%</div>
                  <div class="small text-body-secondary text-nowrap ms-3">
                    {{ item.usage.period }}
                  </div>
                </div>
                <c-progress
                  thin
                  [value]="item.usage.value"
                  color="{{ item.usage.color }}-gradient"
                />
              </td>
              <td>
                <div class="small text-body-secondary">Last login</div>
                <div class="fw-semibold text-nowrap">{{ item.activity }}</div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
