<c-container>
  <c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <c-container>
            <c-row>
              <c-col xs="12" md="6">
                <ng-container
                  *ngIf="ableToCreateComplaint; else globalComplaint"
                >
                  <strong>Mis denuncias</strong>
                </ng-container>
                <ng-template #globalComplaint>
                  <strong>Listado de denuncias</strong>
                </ng-template>
              </c-col>
              <c-col
                xs="12"
                md="6"
                class="d-flex justify-content-end"
                *ngIf="ableToCreateComplaint"
              >
                <button
                  cButton
                  color="primary"
                  size="sm"
                  style="color: white"
                  (click)="navToStoreComplaint()"
                >
                  Crear denuncia
                </button>
              </c-col>
            </c-row>
          </c-container>
        </c-card-header>
        <c-card-body>
          <c-smart-table
            [activePage]="1"
            [columnSorter]="true"
            [columns]="columns"
            [columnFilter]="true"
            [itemsPerPageSelect]="true"
            [itemsPerPage]="20"
            [loading]="isLoading$ | async"
            [items]="complaints$ | async"
            [sorterValue]="{ column: 'name', state: 'asc' }"
            [tableFilter]="true"
            [tableProps]="{ hover: true, striped: true, responsive: true }"
            [tableBodyProps]="{ align: 'middle' }"
            tableFilterPlaceholder="Buscar denuncia"
            noItemsLabel="Listado de denuncias"
            itemsPerPageLabel="Ítems por página"
            cleaner
            clickableRows
            footer
            header
            pagination
          >
            <ng-template
              cTemplateId="tableData"
              let-columnName="columnName"
              let-item="item"
              let-tdContent="tdContent"
            >
              <td>
                @switch (columnName) { @case ('actions') {
                <div>
                  <button
                    cButton
                    cTooltip="Ver detalle de denuncia"
                    cTooltipPlacement="bottom"
                    (click)="toggleComplaintModal(item)"
                    color="info"
                    size="sm"
                  >
                    <c-icon name="cil-address-book"></c-icon>
                  </button>
                </div>
                } @case ('date_event') {
                {{ tdContent | customDate : "DD-MM-YYYY" }}
                } @case ('created_at') {
                {{ tdContent | customDate : "DD de MMMM YYYY. HH:mm" }}
                } @default {
                {{ tdContent }}
                } }
              </td>
            </ng-template>
          </c-smart-table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>

<c-modal
  [visible]="complaintModalVisible"
  (visibleChange)="handleComplaintModalChange($event)"
>
  <c-modal-header>
    <h5 class="text-primary mb-3">
      Denuncia hecha por <b>{{ selectedComplaint?.role }}</b>
      <br />
      {{ selectedComplaint?.name }}

      <ng-container *ngIf="selectedComplaint?.isStudent">
        del curso
        <span class="text-warning">{{ selectedComplaint?.course ?? "" }}</span>
      </ng-container>

      <ng-container
        *ngIf="!selectedComplaint?.isStudent && selectedComplaint?.course"
      >
        profesor jefe del curso
        <span class="text-warning">{{ selectedComplaint?.course }}</span>
      </ng-container>
    </h5>
    <button (click)="toggleComplaintModal(null)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <h6 class="text-warning mb-3">Detalles de la denuncia</h6>
    <p><strong>Descripción:</strong> {{ selectedComplaint?.description }}</p>
    <p>
      <strong>Ubicación:</strong> {{ selectedComplaint?.where_description }}
    </p>
    <p>
      <strong>Estaba solo:</strong> {{ selectedComplaint?.alone ? "Sí" : "No" }}
    </p>
    <p>
      <strong>¿Con quiénes?:</strong>
      {{ selectedComplaint?.with_description || "No especificado" }}
    </p>
    <c-alert *ngIf="selectedComplaint?.evidences.length === 0" color="secondary"
      >No se encuentra registro de evidencia
    </c-alert>
    <p>
      <strong>Fecha del evento:</strong>
      {{ selectedComplaint?.date_event | customDate : "DD-MM-YYYY" }}
    </p>
    <p>
      <strong>Fecha de creación de la denuncia:</strong>
      {{
        selectedComplaint?.created_at | customDate : "DD de MMMM YYYY. HH:mm"
      }}
    </p>
    <p>
      <strong>Rol en la denuncia:</strong>
      {{ selectedComplaint?.role_in_complaint }}
    </p>
    <hr class="my-4" />

    <h6 class="text-warning mb-3">Evidencia de denuncia</h6>

    <c-alert *ngIf="selectedComplaint?.evidences.length === 0" color="secondary"
      >No se encuentra registro de evidencia
    </c-alert>
    <div cListGroup *ngFor="let evidence of selectedComplaint?.evidences">
      <button
        cButton
        cListGroupItem
        cTooltip="Descargar Evidencia"
        cTooltipPlacement="bottom"
        (click)="downloadEvidence(evidence.id)"
        color="secondary"
        size="sm"
        class="d-flex justify-content-between align-items-center"
      >
        <span>{{ evidence.file_name }}</span>
        <c-icon name="cil-cloud-download"></c-icon>
      </button>
    </div>
  </c-modal-body>
</c-modal>
