<c-container>
  <c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
          <c-row>
            <c-col xs="12" md="6">
              <strong>Listado de estudiantes</strong>
            </c-col>
            <c-col xs="12" md="6" style="
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
              ">
              <button cButton color="primary" size="sm" class="mb-2 mt-2" style="color: white" (click)="onCreate()">
                Registrar nuevo estudiante
              </button>
            </c-col>
          </c-row>
          <c-row *ngIf="isSuperAdmin" style="
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
            ">
            <c-col xs="12" md="3" style="
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
            ">
              <button cButton color="warning" size="sm" style="color: white" (click)="uploadSIGE()">
                Carga Masiva SIGE
              </button>

            </c-col>

            <c-col xs="12" md="3" style="
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
              ">
              <button cButton color="warning" size="sm" style="color: white" (click)="donwloadStudentsTemplate()">
                Descargar Estudiantes
              </button>
            </c-col>
            <c-col xs="12" md="3" style="
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
            ">
              <button cButton color="warning" size="sm" style="color: white" (click)="donwloadEmptyStudentTemplate()">
                Descargar Template
              </button>
            </c-col>
          </c-row>
        </c-card-header>
        <c-card-body>
          <c-smart-table [activePage]="1" [columnSorter]="true" [columns]="columns" [columnFilter]="true"
            [itemsPerPageSelect]="true" [itemsPerPage]="20" [loading]="isLoading | async" [items]="students | async"
            [sorterValue]="{ column: 'name', state: 'asc' }" [tableFilter]="true"
            [tableProps]="{ hover: true, striped: true, responsive: true }" [tableBodyProps]="{ align: 'middle' }"
            tableFilterPlaceholder="Buscar estudiante..." noItemsLabel="Listado de estudiantes vacío"
            itemsPerPageLabel="Ítems por página" cleaner clickableRows footer header pagination>
            <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
              <td>
                @switch (columnName) { @case ('actions') {
                <div class="d-flex gap-2">
                  <button cTooltip="Perfil de estudiante" cTooltipPlacement="bottom" cButton color="info" size="sm"
                    (click)="goToStudentProfile(item.id)">
                    <c-icon name="cil-people"></c-icon>
                  </button>
                  <button cButton cTooltip="Actualizar Estudiante" cTooltipPlacement="bottom" cButton color="info"
                    size="sm" (click)="onUpdate(item.id)">
                    <c-icon name="cil-pencil"></c-icon>
                  </button>

                  <button cButton cTooltip="Eliminar Estudiante" cTooltipPlacement="bottom" color="danger" size="sm"
                    (click)="openDeleteModal(item.id, item.name)">
                    <c-icon name="cil-trash"></c-icon>
                  </button>
                </div>
                } @case('annotations_count' && !isSuperAdmin) {
                <c-badge size="lg" class="annotations-count-badge"
                  [color]="getAnnotationCountBadgeColor(item.annotations_count)">
                  {{ tdContent }}
                </c-badge>

                } @default {
                {{ tdContent }}
                } }
              </td>
            </ng-template>
          </c-smart-table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <!-- Modal de Confirmación -->
  <c-modal [(visible)]="deleteModalVisible" title="Confirmar eliminación" color="danger" (closed)="resetModal()">
    <div class="modal-body">
      <p>
        ¿Estás seguro de que deseas eliminar el estudiante
        <strong>{{ selectedStudentName }}</strong>?
      </p>
    </div>
    <div class="modal-footer">
      <button cButton color="secondary" (click)="deleteModalVisible = false">
        Cancelar
      </button>
      <button cButton color="danger" (click)="onConfirmDelete()">
        Confirmar
      </button>
    </div>
  </c-modal>
</c-container>