<c-container>
  <c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Listado de Cursos</strong>
          <div class="float-end">
            <c-container>
              <c-row>
                <c-col xs="12" *ngIf="allowedToEdit">
                  <button cButton color="primary" size="sm" (click)="onCreate()">
                    Registrar nuevo curso
                  </button>
                </c-col>
              </c-row>
            </c-container>
          </div>
        </c-card-header>
        <c-card-body>
          <c-smart-table [activePage]="1" [columnSorter]="true" [columns]="columns" [columnFilter]="true"
            [itemsPerPageSelect]="true" [itemsPerPage]="20" [loading]="isLoading | async" [items]="courses | async"
            [sorterValue]="{ column: 'title', state: 'asc' }" [tableFilter]="true"
            [tableProps]="{ hover: true, striped: true, responsive: true }" [tableBodyProps]="{ align: 'middle' }"
            tableFilterPlaceholder="Buscar curso..." noItemsLabel="Listado de cursos vacío"
            itemsPerPageLabel="Ítems por página" cleaner clickableRows footer header pagination>
            <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
              <td>
                @switch (columnName) { @case ('actions') {
                <div class="d-flex gap-2">
                  <button cButton cTooltip="Estudiantes por Curso" cTooltipPlacement="bottom" color="primary" size="sm"
                    (click)="toggleDetails(item.id)">
                    <c-icon [name]="
                        details_visible[item.id]
                          ? 'cil-arrow-top'
                          : 'cil-arrow-bottom'
                      "></c-icon>
                  </button>

                  <button *ngIf="allowedToEdit" cButton cTooltip="Actualizar Curso" cTooltipPlacement="bottom"
                    color="info" size="sm" (click)="onUpdate(item.id)">
                    <c-icon name="cil-pencil"></c-icon>
                  </button>

                  <button cButton *ngIf="allowedToAnnotationStudent" cTooltip="Ingresar anotación para el curso"
                    cTooltipPlacement="bottom" color="warning" size="sm" (click)="navToAnnotationForm(item.id)">
                    <c-icon name="cil-notes"></c-icon>
                  </button>
                  <button
                    *ngIf="allowedToEdit"
                    cButton
                    cTooltip="Eliminar Curso"
                    cTooltipPlacement="bottom"
                    color="danger"
                    size="sm"
                    (click)="openDeleteModal(item.id, item.name)"
                  >
                    <c-icon name="cil-trash"></c-icon>
                  </button>
                </div>

                } @default {
                {{ tdContent }}
                } }
              </td>
            </ng-template>

            <!-- Detalles del Curso -->
            <ng-template cTemplateId="tableDetails" let-item="item">
              <div *ngIf="details_visible[item.id]" class="p-3">
                <strong>Estudiantes:</strong>
                <c-smart-table [columns]="studentColumns" [items]="students" [activePage]="1" [columnSorter]="true"
                  [columnFilter]="true" [itemsPerPageSelect]="true" [itemsPerPage]="20"
                  [sorterValue]="{ column: 'title', state: 'asc' }" [tableFilter]="true"
                  [tableBodyProps]="{ align: 'middle' }" tableFilterPlaceholder="Buscar estudiante..."
                  noItemsLabel="Listado de estudiantes vacío" itemsPerPageLabel="Ítems por página" [tableProps]="{
                    hover: true,
                    striped: true,
                    responsive: true
                  }" cleaner clickableRows footer header pagination>
                  <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item"
                    let-tdContent="tdContent">
                    <td>
                      @switch (columnName) { @case ('actions') {
                      <div>
                        <button cTooltip="Perfil de estudiante" cTooltipPlacement="bottom" cButton color="info"
                          size="sm" (click)="goToStudentProfile(item.id)">
                          <c-icon name="cil-people"></c-icon>
                        </button>
                        <button *ngIf="allowedToEdit" cTooltip="Actualizar Estudiante" cTooltipPlacement="bottom"
                          cButton color="info" size="sm" (click)="onUpdateStudent(item.id)">
                          <c-icon name="cil-pencil"></c-icon>
                        </button>
                        <button 
                        cTooltip="Eliminar curso" 
                        cTooltipPlacement="bottom"
                        cButton  
                        color="danger" 
                        size="sm"
                        (click)="openDeleteStudentModal(item.id, item.name, item)">
                           <c-icon name="cil-trash"></c-icon>
                        </button>
                      </div>
                      } @case('annotations_count') {
                      <c-badge size="lg" class="annotations-count-badge" [color]="
                          getAnnotationCountBadgeColor(item.annotations_count)
                        ">
                        {{ tdContent }}
                      </c-badge>

                      } @default {
                      {{ tdContent }}
                      } }
                    </td>
                  </ng-template>
                </c-smart-table>
              </div>
            </ng-template>
          </c-smart-table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <!-- Modal de Confirmación -->
  <c-modal [(visible)]="deleteModalVisible" title="Confirmar eliminación" color="danger" (closed)="resetModal()">
    <div class="modal-body">
      <p>
        ¿Estás seguro de que deseas eliminar el curso
        <strong>{{ selectedCourseName }}</strong>?
      </p>
    </div>
    <div class="modal-footer">
      <button cButton color="secondary" (click)="deleteModalVisible = false">
        Cancelar
      </button>
      <button cButton color="danger" (click)="onConfirmDelete()">
        Confirmar
      </button>
    </div>
  </c-modal>

  <c-modal [(visible)]="deleteStudentModalVisible" title="Confirmar eliminación" color="danger" (closed)="resetModal()">
    <div class="modal-body">
      <p>
        ¿Estás seguro de que deseas eliminar el estudiante
        <strong>{{ selectedStudentName }}</strong>?
      </p>
    </div>
    <div class="modal-footer">
      <button cButton color="secondary" (click)="deleteStudentModalVisible = false">
        Cancelar
      </button>
      <button cButton color="danger" (click)="onConfirmStudentDelete()">
        Confirmar
      </button>
    </div>
  </c-modal>
</c-container>