<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <div class="clearfix">
          <h1 class="float-start display-3 me-4" style="color: #0099cc;">404</h1>
          <h4 class="pt-3">Página no encontrada</h4>
          <p class="text-body-secondary float-start">
            La página que buscas no existe o fue movida.
          </p>
        </div>
        <div class="mt-4">
          <a routerLink="/dashboard" class="btn btn-depromos">
            Volver al Dashboard
          </a>
        </div>
      </c-col>
    </c-row>
  </c-container>
</div>
