<c-row style="display: flex; flex-direction: column">
  <c-col>
    <c-alert color="warning" style="text-align: center">
      El informe señala un aspecto relevante y tiene relación con casos de
      aislamiento: el autopercibido y el manifestado por sus pares.
    </c-alert>
  </c-col>
  <c-col *ngIf="sociogram">
    <c-card class="mb-4">
      <c-card-header style="padding: 1em">
        <b>Estudiantes que se perciben solitarios</b>
      </c-card-header>
      <c-card-body>
        <ul cListGroup>
          <c-container
            *ngFor="let studentLonely of sociogram.student_who_percive_lonely"
          >
            <li cListGroupItem>
              <c-row>
                <c-col xs="12" md="4">
                  {{ studentLonely.student }}
                </c-col>
              </c-row>
            </li>
          </c-container>
        </ul>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col *ngIf="sociogram">
    <c-card class="mb-4">
      <c-card-header style="padding: 1em">
        <b>Estudiantes que son señalados por su pares como solitarios</b>
      </c-card-header>
      <c-card-body>
        <ul cListGroup>
          <c-container
            *ngFor="
              let studentLonely2 of sociogram.student_are_single_out_by_their_peers_lonely
            "
          >
            <li cListGroupItem>
              <c-row>
                <c-col xs="12" md="4">
                  {{ studentLonely2.name }}
                </c-col>
                <c-col xs="12" md="8">
                  <c-progress [value]="studentLonely2.percentage"
                    >{{ studentLonely2.percentage }}%
                  </c-progress>
                </c-col>
              </c-row>
            </li>
          </c-container>
        </ul>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
