<div
  class="bg-gradient-light min-vh-100 d-flex flex-row align-items-center"
  [style]="pageStyle"
>
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="8">
        <c-card-group>
          <!-- Formulario de Login -->
          <c-card class="p-4 shadow border-0">
            <c-card-body>
              <div class="text-center mb-4">
                <h2 class="text-primary">
                  Bienvenido a <span class="text-warning">Depromos</span> ERP
                </h2>
                <p class="text-muted">
                  Ingresa tus credenciales para acceder.
                </p>
              </div>

              <app-form
                (formSubmit)="onSubmit($event)"
                [isLoading]="isLoading"
              ></app-form>
            </c-card-body>
          </c-card>

          <!-- Tarjeta Lateral con Imagen -->
          <c-card
            [ngStyle]="{ 'minWidth.%': 44 }"
            class="text-white py-5 border-0 shadow"
            style="
              background: linear-gradient(
                135deg,
                rgba(0, 143, 193, 0.8),
                rgba(255, 255, 255, 0.8)
              );
            "
          >
            <c-card-body
              class="text-center d-flex flex-column justify-content-center"
            >
              <img
                [src]="logo"
                alt="logo"
                class="d-block mx-auto mb-4"
                style="max-width: 200px"
                loading="lazy"
              />
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
