<c-container>
  <c-row>
    <c-col xs="12">
      <c-card>
        <c-card-header>
          <strong>
            {{
              sociogram_id ? "Editar Sociograma" : "Registrar Sociograma"
            }}</strong
          >
        </c-card-header>
        <c-card-body>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
            <h6 class="text-primary mb-3">Datos Generales</h6>
            <c-row class="g-3">
              <c-col xs="12" md="6">
                <label cLabel for="title" class="fw-bold">Título</label>
                <c-input-group class="has-validation">
                  <input
                    cFormControl
                    formControlName="title"
                    id="title"
                    type="text"
                    placeholder="Título del sociograma"
                    [ngClass]="{
                      'is-invalid':
                        form.get('title')?.invalid && form.get('title')?.touched
                    }"
                  />
                  <c-form-feedback
                    *ngIf="
                      form.get('title')?.invalid && form.get('title')?.touched
                    "
                  >
                    {{ getErrorMessage("title") }}
                  </c-form-feedback>
                </c-input-group>
              </c-col>
              <c-col xs="12" md="6">
                <label cLabel for="version" class="fw-bold">Versión</label>
                <c-input-group class="has-validation">
                  <input
                    cFormControl
                    formControlName="version"
                    id="version"
                    type="number"
                    placeholder="Versión del sociograma"
                    [ngClass]="{
                      'is-invalid':
                        form.get('version')?.invalid &&
                        form.get('version')?.touched
                    }"
                  />
                  <c-form-feedback
                    *ngIf="
                      form.get('version')?.invalid &&
                      form.get('version')?.touched
                    "
                  >
                    {{ getErrorMessage("version") }}
                  </c-form-feedback>
                </c-input-group>
              </c-col>
            </c-row>

            <!-- Preguntas -->
            <hr class="my-4" />
            <h6 class="text-primary mb-3">
              Preguntas de {{ form.get("title")?.value || "Nuevo Sociograma" }}
              <span *ngIf="questions.length === 0" class="text-danger">
                Debes agregar al menos una pregunta
              </span>
            </h6>
            <div formArrayName="questions">
              <c-row
                *ngFor="let question of questions.controls; let i = index"
                [formGroupName]="i"
                class="mb-4 pb-3 border-bottom"
              >
                <c-row class="align-items-end justify-content-end">
                  <!-- Título de la pregunta -->
                  <c-col xs="6" md="8">
                    <label cLabel for="title_{{ i }}" class="fw-bold"
                      >Título</label
                    >
                    <c-input-group class="has-validation">
                      <input
                        cFormControl
                        formControlName="title"
                        id="title_{{ i }}"
                        type="text"
                        placeholder="Título de la pregunta"
                        [ngClass]="{
                          'is-invalid':
                            questions.at(i).get('title')?.invalid &&
                            questions.at(i).get('title')?.touched
                        }"
                      />
                      <c-form-feedback
                        *ngIf="
                          questions.at(i).get('title')?.invalid &&
                          questions.at(i).get('title')?.touched
                        "
                      >
                        {{ getQuestionErrorMessage(i, "title") }}
                      </c-form-feedback>
                    </c-input-group>
                  </c-col>

                  <!-- Selección múltiple -->
                  <c-col xs="6" md="4" style="align-self: flex-end">
                    <c-form-check>
                      <input
                        cFormControl
                        cFormCheckInput
                        formControlName="is_multiple_choice"
                        id="is_multiple_choice_{{ i }}"
                        type="checkbox"
                      />
                      <label
                        cFormCheckLabel
                        for="is_multiple_choice_{{ i }}"
                        style="padding-left: 10px"
                      >
                        Selección Múltiple
                      </label>
                    </c-form-check>
                  </c-col>
                </c-row>

                <c-row class="align-items-center g-3 mt-3">
                  <!-- Reglas para informe -->
                  <c-col xs="12" md="6">
                    <label cLabel for="rules" class="fw-bold"
                      >Reglas para informe</label
                    >
                    <c-input-group class="has-validation">
                      <select
                        cSelect
                        class="form-control"
                        id="rules"
                        formControlName="rules"
                        aria-label="Selecciona una regla"
                        [ngClass]="{
                          'is-invalid':
                            form.get('rules')?.invalid &&
                            form.get('rules')?.touched
                        }"
                      >
                        <option [value]="null" disabled selected>
                          Selecciona una regla
                        </option>
                        <option *ngFor="let rule of rules" [value]="rule.value">
                          {{ rule.label }}
                        </option>
                      </select>
                      <c-form-feedback
                        *ngIf="
                          form.get('rules')?.invalid &&
                          form.get('rules')?.touched
                        "
                        [valid]="form.valid"
                      >
                        {{ getErrorMessage("rules") }}
                      </c-form-feedback>
                    </c-input-group>
                  </c-col>

                  <!-- Tipos de respuestas -->
                  <c-col xs="12" md="6">
                    <label cLabel for="enum_as_options" class="fw-bold"
                      >Tipos de respuestas</label
                    >
                    <c-input-group class="has-validation">
                      <select
                        cSelect
                        class="form-control"
                        id="enum_as_options"
                        formControlName="enum_as_options"
                        aria-label="Selecciona un tipo de respuesta"
                        [ngClass]="{
                          'is-invalid':
                            form.get('enum_as_options')?.invalid &&
                            form.get('enum_as_options')?.touched
                        }"
                      >
                        <option [value]="null" disabled selected>
                          Selecciona un tipo de respuesta
                        </option>
                        <option
                          *ngFor="let sociogramOption of sociogramsOptions"
                          [value]="sociogramOption.value"
                        >
                          {{ sociogramOption.label }}
                        </option>
                      </select>
                      <c-form-feedback
                        *ngIf="
                          form.get('enum_as_options')?.invalid &&
                          form.get('enum_as_options')?.touched
                        "
                        [valid]="form.valid"
                      >
                        {{ getErrorMessage("enum_as_options") }}
                      </c-form-feedback>
                    </c-input-group>
                  </c-col>

                  <c-row xs="12" md="12" style="padding: 10px">
                    <c-col xs="12">
                      <h6 class="text-primary mb-3">Respuestas de pregunta</h6>
                      <div class="d-flex flex-wrap gap-2">
                        <span
                          *ngFor="
                            let answer of getAnswerLabels(
                              question.get('enum_as_options')?.value
                            )
                          "
                          class="badge bg-info text-dark"
                        >
                          {{ answer }}
                        </span>
                      </div>
                    </c-col>
                  </c-row>

                  <!-- Botón eliminar -->
                  <c-col xs="12" md="12" class="text-end">
                    <button
                      cButton
                      color="danger"
                      size="sm"
                      class="align-middle"
                      (click)="removeQuestion(i)"
                    >
                      <c-icon name="cil-trash" size="lg"></c-icon>
                    </button>
                  </c-col>
                </c-row>
              </c-row>
            </div>
            <div class="d-flex justify-content-start my-3">
              <button cButton color="primary" (click)="addQuestion()">
                Agregar Pregunta
              </button>
            </div>

            <!-- Guardar -->
            <c-row>
              <c-col xs="12">
                <div class="d-flex justify-content-end">
                  <button
                    cButton
                    [color]="sociogram_id ? 'warning' : 'primary'"
                    type="submit"
                  >
                    {{ sociogram_id ? "Actualizar" : "Guardar" }}
                  </button>
                </div>
              </c-col>
            </c-row>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>
