<c-container>
  <c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
          <strong>Mis refuerzos positivos</strong>
          <div class="float-end" *ngIf="allowedToCreate">
            <c-container>
              <c-row>
                <c-col xs="12" [md]="12">
                  <button cButton color="primary" size="sm" (click)="onCreate()">
                    Enviar Refuerzo Positivo
                  </button>
                </c-col>
              </c-row>
            </c-container>
          </div>
        </c-card-header>
        <c-card-body>
          <c-smart-table [activePage]="1" [columnSorter]="true" [columns]="columns" [columnFilter]="true"
            [itemsPerPageSelect]="true" [loading]="isLoading" [itemsPerPage]="20" [items]="positiveReinforcements"
            [sorterValue]="{ column: 'name', state: 'asc' }"
            [tableProps]="{ hover: true, striped: true, responsive: true }" [tableBodyProps]="{ align: 'middle' }"
            tableFilterPlaceholder="Buscar refuerzo positivo..." noItemsLabel="Listado de refuerzo positivo vacío"
            itemsPerPageLabel="Ítems por página" cleaner clickableRows footer header pagination>
            <ng-template cTemplateId="tableData" let-columnName="columnName" let-item="item" let-tdContent="tdContent">
              <td>
                @switch (columnName) { @case ('sender') {
                <div class="d-flex flex-column align-items-start">
                  <p>{{ tdContent }} </p>
                  <ng-container *ngIf="item.sender_active_course">
                    <span class="badge bg-primary">{{item.sender_active_course}}</span>
                  </ng-container>
                </div>
                }
                @case ('receiver') {
                <div class="d-flex flex-column align-items-start">
                  <p>{{ tdContent }}</p>
                  <ng-container *ngIf="item.receiver_active_course">
                    <span class="badge bg-warning">{{item.receiver_active_course}}</span>
                  </ng-container>
                </div>
                }
                @default {
                {{ tdContent }}
                }}
              </td>
            </ng-template>
          </c-smart-table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>