<c-container>
  <c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
          <strong>Listado de instituciones</strong>
          <div class="float-end">
            <button cButton color="primary" size="sm" (click)="onCreate()">
              Registrar nueva institución
            </button>
          </div>
        </c-card-header>
        <c-card-body>
          <c-smart-table
            [activePage]="1"
            [columnSorter]="true"
            [columns]="columns"
            [columnFilter]="true"
            [itemsPerPageSelect]="true"
            [itemsPerPage]="20"
            [items]="institutions | async"
            [sorterValue]="{ column: 'name', state: 'asc' }"
            [tableFilter]="true"
            [loading]="isLoading | async"
            [tableProps]="{ hover: true, striped: true, responsive: true }"
            [tableBodyProps]="{ align: 'middle' }"
            tableFilterPlaceholder="Buscar instituciones..."
            noItemsLabel="Listado de instituciones vacío"
            itemsPerPageLabel="Ítems por página"
            cleaner
            clickableRows
            footer
            header
            pagination
          >
            <ng-template
              cTemplateId="tableData"
              let-columnName="columnName"
              let-item="item"
              let-tdContent="tdContent"
            >
              <td>
                @switch (columnName) { @case ('actions') {
                <div class="d-flex gap-2">
                  <button
                    cButton
                    cTooltip="Actualizar institución"
                    cTooltipPlacement="bottom"
                    color="info"
                    size="sm"
                    (click)="onUpdate(item.id)"
                  >
                    <c-icon name="cil-pencil"></c-icon>
                  </button>

                  <button
                    cButton
                    cTooltip="Eliminar institución"
                    cTooltipPlacement="bottom"
                    color="danger"
                    size="sm"
                    (click)="openDeleteModal(item.id, item.name)"
                  >
                    <c-icon name="cil-trash"></c-icon>
                  </button>
                </div>
                } @default {
                {{ tdContent }}
                } }
              </td>
            </ng-template>
          </c-smart-table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <!-- Modal de Confirmación -->
  <c-modal
    [(visible)]="deleteModalVisible"
    title="Confirmar eliminación"
    color="danger"
    (closed)="resetModal()"
  >
    <div class="modal-body">
      <p>
        ¿Estás seguro de que deseas eliminar la institución
        <strong>{{ selectedInstitutionName }}</strong
        >?
      </p>
    </div>
    <div class="modal-footer">
      <button cButton color="secondary" (click)="deleteModalVisible = false">
        Cancelar
      </button>
      <button cButton color="danger" (click)="onConfirmDelete()">
        Confirmar
      </button>
    </div>
  </c-modal>
</c-container>
