<c-container>
  <c-row>
    <c-col xs="12">
      <div #profileTeacher>
        <c-card
          class="mb-4 p-2"
          *ngIf="teacher$ | async as teacher"
          [cBorder]="severeStudent ? 'danger' : 'primary'"
        >
          <c-card-header>
            <c-row>
              <c-col>
                <h5>
                  Perfil del profesor <strong>{{ teacher.name }}</strong>
                </h5>
              </c-col>
              <c-col
                xs="6"
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
                  align-items: center;
                  gap: 1rem;
                "
              >
                <button
                  cButton
                  color="warning"
                  size="sm"
                  (click)="goToUpdateForm()"
                  *ngIf="isAbleToEdit"
                >
                  Editar
                  <c-icon name="cil-pencil"></c-icon>
                </button>
              </c-col>
            </c-row>
          </c-card-header>
          <c-card-body>
            <c-row class="mb-3">
              <div #profileTeacherInfo>
                <c-card>
                  <c-card-header>
                    <c-row>
                      <c-col xs="6">
                        <h6><strong>Información Personal</strong></h6>
                      </c-col>
                    </c-row>
                  </c-card-header>
                  <c-card-body>
                    <c-row>
                      <c-col xs="12" md="6">
                        <strong>Email:</strong> {{ teacher.email }} <br />
                        <strong>Rut: </strong> {{ teacher.rut }} <br />
                        <strong>Especialidad: </strong>
                        {{ teacher.subject_specialty }} <br />
                        <strong>Fecha de nacimiento: </strong>
                        {{ teacher.birth_date | customDate : "DD-MMM-YYYY" }}
                        <br />
                      </c-col>
                    </c-row>
                  </c-card-body>
                </c-card>
              </div>
            </c-row>
            <c-row class="mb-3">
              <div #profileTeacherCourses>
                <c-card>
                  <c-card-header>
                    <c-row>
                      <c-col xs="6">
                        <h6><strong>Cursos</strong></h6>
                      </c-col>
                    </c-row>
                  </c-card-header>
                  <card-body>
                    <c-smart-table
                      [activePage]="1"
                      [columnSorter]="true"
                      [columns]="courseColumns"
                      [columnFilter]="true"
                      [itemsPerPageSelect]="true"
                      [itemsPerPage]="20"
                      [loading]="isLoading | async"
                      [items]="teacher.courses"
                      [sorterValue]="{ column: 'name', state: 'asc' }"
                      [tableProps]="{
                        hover: true,
                        striped: true,
                        responsive: true
                      }"
                      [tableBodyProps]="{ align: 'middle' }"
                      noItemsLabel="Listado de anotaciones"
                      itemsPerPageLabel="Ítems por página"
                      cleaner
                      clickableRows
                      footer
                      header
                      pagination
                    >
                      <ng-template
                        cTemplateId="tableData"
                        let-columnName="columnName"
                        let-item="item"
                        let-tdContent="tdContent"
                      >
                        <td>
                          @switch (columnName) { @case ('role') {
                          {{ tdContent | translateTeacherRole }}
                          } @case ('start_date') {
                          {{ tdContent | customDate : "DD-MMM-YYYY" }}
                          } @case ('end_date') {
                          {{ tdContent | customDate : "DD-MMM-YYYY" }}
                          } @default {
                          {{ tdContent }}
                          } }
                        </td>
                      </ng-template>
                    </c-smart-table>
                  </card-body>
                </c-card>
              </div>
            </c-row>
          </c-card-body>
        </c-card>
      </div>
    </c-col>
    <c-row class="mb-3" *ngIf="isSuperAdmin">
      <div #loginLogsSection>
        <c-card>
          <c-card-header>
            <c-row>
              <c-col xs="6">
                <h6><strong>Inicios de sesión</strong></h6>
              </c-col>
              <c-col
                xs="6"
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
                  align-items: center;
                  gap: 1rem;
                "
              >
                <button
                  cButton
                  color="info"
                  size="sm"
                  (click)="toggleCollapse('loginLogs')"
                >
                  <c-icon
                    [name]="
                      collapses['loginLogs']
                        ? 'cil-arrow-top'
                        : 'cil-arrow-bottom'
                    "
                  ></c-icon>
                </button>
              </c-col>
            </c-row>
          </c-card-header>
          <c-card-body cCollapse [visible]="collapses['loginLogs']">
            <c-smart-table
              [activePage]="1"
              [columnSorter]="true"
              [columns]="loginLogsColumns"
              [columnFilter]="true"
              [itemsPerPageSelect]="true"
              [itemsPerPage]="10"
              [loading]="isLoading | async"
              [items]="loginLogs$ | async"
              [sorterValue]="{ column: 'created_at', state: 'desc' }"
              [tableProps]="{
                hover: true,
                striped: true,
                responsive: true
              }"
              [tableBodyProps]="{ align: 'middle' }"
              noItemsLabel="Sin registros de inicio de sesión"
              itemsPerPageLabel="Ítems por página"
              cleaner
              footer
              header
              pagination
            >
              <ng-template
                cTemplateId="tableData"
                let-columnName="columnName"
                let-item="item"
                let-tdContent="tdContent"
              >
                <td>
                  @switch (columnName) { @case ('created_at') {
                  {{ tdContent | customDate : "DD de MMMM YYYY. HH:mm" }}
                  } @default {
                  {{ tdContent }}
                  } }
                </td>
              </ng-template>
            </c-smart-table>
          </c-card-body>
        </c-card>
      </div>
    </c-row>
  </c-row>
</c-container>
