<c-container>
  <c-row>
    <c-col xs="12">
      <c-card>
        <c-card-header>
          <strong>Formulario de Administrador</strong>
        </c-card-header>
        <c-card-body>
          <form
            cForm
            novalidate
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
            class="needs-validation"
          >
            <h6 class="text-primary mb-3">Datos de Usuario</h6>
            <c-row class="g-3">
              <c-col xs="12" md="6">
                <label cLabel for="username">Nombre de usuario</label>
                <c-input-group class="has-validation">
                  <input
                    cFormControl
                    formControlName="username"
                    id="username"
                    type="text"
                    placeholder="Nombre de usuario"
                    [ngClass]="{
                      'is-invalid':
                        form.get('username')?.invalid &&
                        form.get('username')?.touched
                    }"
                  />
                  <c-form-feedback
                    *ngIf="
                      form.get('username')?.invalid &&
                      form.get('username')?.touched
                    "
                  >
                    {{ getErrorMessage("username") }}
                  </c-form-feedback>
                </c-input-group>
              </c-col>
              <c-col xs="12" md="6">
                <label cLabel for="password">Contraseña</label>
                <c-input-group class="has-validation">
                  <input
                    cFormControl
                    formControlName="password"
                    id="password"
                    type="password"
                    placeholder="Contraseña"
                    [ngClass]="{
                      'is-invalid':
                        form.get('password')?.invalid &&
                        form.get('password')?.touched
                    }"
                  />
                  <c-form-feedback
                    *ngIf="
                      form.get('password')?.invalid &&
                      form.get('password')?.touched
                    "
                  >
                    {{ getErrorMessage("password") }}
                  </c-form-feedback>
                </c-input-group>
              </c-col>
            </c-row>

            <hr class="my-4" />
            <h6 class="text-primary mb-3">Rol</h6>
            <c-row class="g-3">
              <c-col *ngIf="isSuperAdmin" xs="12" md="6">
                <label cLabel for="username">Rol de usuario</label>
                <select
                  aria-label="Rol de usuario"
                  cSelect
                  formControlName="role"
                  (change)="onChange($event)"
                  [ngClass]="{
                    'is-invalid':
                      form.get('role')?.invalid && form.get('role')?.touched
                  }"
                >
                  <option value="null">Selecciona una opción</option>
                  <option value="Administrator" selected>Administrador</option>
                </select>
                <c-form-feedback
                  *ngIf="form.get('role')?.invalid && form.get('role')?.touched"
                >
                  {{ getErrorMessage("role") }}
                </c-form-feedback>
              </c-col>
              <c-col xs="12" [md]="isSuperAdmin ? 6 : 12">
                <label cLabel for="username">Rol de administrador</label>
                <select
                  aria-label="Rol de administrador"
                  cSelect
                  formControlName="admin_role"
                  [ngClass]="{
                    'is-invalid':
                      form.get('admin_role')?.invalid &&
                      form.get('admin_role')?.touched &&
                      !isSelectedSuperAdmin
                  }"
                >
                  <option value="null" [disabled]="isSelectedSuperAdmin">
                    Selecciona una opción
                  </option>
                  <option
                    *ngIf="isSuperAdmin"
                    [disabled]="isSelectedSuperAdmin"
                    value="school_admin"
                  >
                    Administrador de institución
                  </option>
                  <option
                    [disabled]="isSelectedSuperAdmin"
                    value="school_supervisor"
                  >
                    Inspector de institución
                  </option>
                </select>
                <c-form-feedback
                  *ngIf="
                    form.get('admin_role')?.invalid &&
                    form.get('admin_role')?.touched &&
                    !isSelectedSuperAdmin
                  "
                >
                  {{ getErrorMessage("admin_role") }}
                </c-form-feedback>
              </c-col>
            </c-row>
            <hr class="my-4" />
            <h6 class="text-primary mb-3">Información Detallada</h6>
            <c-row class="g-3">
              <c-col xs="12" md="6">
                <label cLabel for="first_name">Nombre</label>
                <c-input-group class="has-validation">
                  <input
                    cFormControl
                    formControlName="first_name"
                    id="first_name"
                    type="text"
                    placeholder="Nombre"
                    [ngClass]="{
                      'is-invalid':
                        form.get('first_name')?.invalid &&
                        form.get('first_name')?.touched
                    }"
                  />
                  <c-form-feedback
                    *ngIf="
                      form.get('first_name')?.invalid &&
                      form.get('first_name')?.touched
                    "
                  >
                    {{ getErrorMessage("first_name") }}
                  </c-form-feedback>
                </c-input-group>
              </c-col>
              <c-col xs="12" md="6">
                <label cLabel for="last_name">Apellido</label>
                <c-input-group class="has-validation">
                  <input
                    cFormControl
                    formControlName="last_name"
                    id="last_name"
                    type="text"
                    placeholder="Apellido"
                    [ngClass]="{
                      'is-invalid':
                        form.get('last_name')?.invalid &&
                        form.get('last_name')?.touched
                    }"
                  />
                  <c-form-feedback
                    *ngIf="
                      form.get('last_name')?.invalid &&
                      form.get('last_name')?.touched
                    "
                  >
                    {{ getErrorMessage("last_name") }}
                  </c-form-feedback>
                </c-input-group>
              </c-col>
              <c-col xs="12" md="6">
                <label cLabel for="email">Correo Electrónico</label>
                <c-input-group class="has-validation">
                  <input
                    cFormControl
                    formControlName="email"
                    id="email"
                    type="email"
                    placeholder="ejemplo@correo.com"
                    [ngClass]="{
                      'is-invalid':
                        form.get('email')?.invalid && form.get('email')?.touched
                    }"
                  />
                  <c-form-feedback
                    *ngIf="
                      form.get('email')?.invalid && form.get('email')?.touched
                    "
                  >
                    {{ getErrorMessage("email") }}
                  </c-form-feedback>
                </c-input-group>
              </c-col>
              <c-col xs="12" md="6">
                <label cLabel for="birth_date">Fecha de Nacimiento</label>
                <c-input-group class="has-validation">
                  <input
                    cFormControl
                    formControlName="birth_date"
                    id="birth_date"
                    type="date"
                    [max]="maxDate"
                    [ngClass]="{
                      'is-invalid':
                        form.get('birth_date')?.invalid &&
                        form.get('birth_date')?.touched
                    }"
                  />
                  <c-form-feedback
                    *ngIf="
                      form.get('birth_date')?.invalid &&
                      form.get('birth_date')?.touched
                    "
                  >
                    {{ getErrorMessage("birth_date") }}
                  </c-form-feedback>
                </c-input-group>
              </c-col>
              <c-col xs="12" md="6">
                <label cLabel for="rut">RUT</label>
                <c-input-group class="has-validation">
                  <input
                    cFormControl
                    formControlName="rut"
                    id="rut"
                    type="text"
                    placeholder="11111111-1"
                    [ngClass]="{
                      'is-invalid':
                        form.get('rut')?.invalid && form.get('rut')?.touched
                    }"
                    appRutFormat
                  />
                  <c-form-feedback
                    *ngIf="form.get('rut')?.invalid && form.get('rut')?.touched"
                  >
                    {{ getErrorMessage("rut") }}
                  </c-form-feedback>
                </c-input-group>
              </c-col>
            </c-row>

            <c-row>
              <c-col xs="12">
                <div class="d-flex justify-content-end">
                  <button
                    cButton
                    [color]="isUpdateAction ? 'warning' : 'primary'"
                    type="submit"
                  >
                    {{ !isUpdateAction ? "Guardar" : "Actualizar" }}
                  </button>
                </div>
              </c-col>
            </c-row>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>
