<c-row *ngIf="sociogram">
  <c-col>
    <c-alert color="success" style="text-align: center">
      Según el análisis realizado recomendamos lo siguiente, debido a que se
      muestran como debilidades.
    </c-alert>
    <c-card class="mb-4">
      <c-card-body>
        <ul cListGroup>
          <li
            cListGroupItem
            *ngIf="
              sociogram.recommendations.empathy === '' &&
              sociogram.recommendations.pei === '' &&
              sociogram.recommendations.family_and_institution === '' &&
              sociogram.recommendations.physical_activity === '' &&
              sociogram.recommendations.nutritional_habits === '' &&
              sociogram.recommendations.control_stress === ''
            "
          >
            No se han identificado debilidades en el análisis realizado
          </li>

          <li cListGroupItem *ngIf="sociogram.recommendations.empathy !== ''">
            {{ sociogram.recommendations.empathy }}
          </li>
          <li cListGroupItem *ngIf="sociogram.recommendations.pei !== ''">
            {{ sociogram.recommendations.pei }}
          </li>
          <li
            cListGroupItem
            *ngIf="sociogram.recommendations.family_and_institution !== ''"
          >
            {{ sociogram.recommendations.family_and_institution }}
          </li>
          <li
            cListGroupItem
            *ngIf="sociogram.recommendations.physical_activity !== ''"
          >
            {{ sociogram.recommendations.physical_activity }}
          </li>
          <li
            cListGroupItem
            *ngIf="sociogram.recommendations.nutritional_habits !== ''"
          >
            {{ sociogram.recommendations.nutritional_habits }}
          </li>
          <li
            cListGroupItem
            *ngIf="sociogram.recommendations.control_stress !== ''"
          >
            {{ sociogram.recommendations.control_stress }}
          </li>
        </ul>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
