<c-container>
  <c-row>
    <c-col xs="12">
      <c-card>
        <c-card-header>
          <strong>Iniciar investigación</strong>
        </c-card-header>
        <c-card-body>
          <form [formGroup]="form" novalidate>
            <h6 class="text-primary mb-3">Datos Generales</h6>
            <c-row class="g-3">
              <c-col xs="12" md="6">
                <label cLabel for="title"
                  >Titular de la investigación (opcional)</label
                >
                <c-input-group class="has-validation">
                  <input
                    formControlName="title"
                    cFormControl
                    id="title"
                    type="text"
                    placeholder="Ingrese el titular de la investigación"
                  />
                </c-input-group>
              </c-col>
              <c-col xs="12" md="12">
                <label cLabel for="title">Motivo de la investigación (*)</label>
                <c-input-group class="has-validation">
                  <textarea
                    formControlName="description"
                    [ngClass]="{
                      'is-invalid':
                        form.get('description')?.invalid &&
                        form.get('description')?.touched
                    }"
                    cFormControl
                    id="title"
                    placeholder="Ingrese el motivo de la investigación"
                  ></textarea>
                  <c-form-feedback
                    *ngIf="
                      form.get('description')?.invalid &&
                      form.get('description')?.touched
                    "
                  >
                    {{ getErrorMessage("description") }}
                  </c-form-feedback>
                </c-input-group>
              </c-col>
            </c-row>

            <hr class="my-4" />
            <h6 class="text-primary mb-3">Asociar denuncias recibidas</h6>
            <c-row class="g-3">
              <c-col xs="12" md="6">
                <ul cListGroup>
                  <li
                    *ngFor="let complaint of complaints$ | async"
                    class="list-group-item d-flex justify-content-between align-items-center mb-1"
                    [ngClass]="{
                      'table-selected': isComplaintAdded(complaint.id)
                    }"
                  >
                    <div>
                      <strong>{{ getComplaintUserName(complaint) }}</strong> -
                      {{ complaint.date_event | date : "medium" }} -
                      <em>{{
                        complaint.role_in_complaint | translateRoleInComplaint
                      }}</em>
                    </div>
                    <div>
                      <button
                        *ngIf="
                          !isComplaintAdded(complaint.id);
                          else addedButtonTemplate
                        "
                        cTooltip="Agregar denuncia"
                        cTooltipPlacement="bottom"
                        (click)="addComplaint(complaint.id)"
                        cButton
                        color="info"
                        size="sm"
                        
                        class="me-2"
                      >
                        <c-icon name="cil-plus"></c-icon>
                      </button>
                      <ng-template #addedButtonTemplate>
                        <button
                          (click)="removeComplaint(complaint.id)"
                          cButton
                          cTooltip="Eliminar denuncia"
                          cTooltipPlacement="bottom"
                          color="danger"
                          size="sm"
                          
                          class="me-2"
                        >
                          <c-icon name="cil-trash"></c-icon>
                        </button>
                      </ng-template>
                      <button
                        (click)="toggleComplaintModal(complaint)"
                        cTooltip="Detalle de denuncia"
                        cTooltipPlacement="bottom"
                        cButton
                        color="info"
                        size="sm"
                        
                      >
                        <c-icon name="cil-description"></c-icon>
                      </button>
                    </div>
                  </li>
                </ul>
              </c-col>
            </c-row>

            <hr class="my-4" />
            <h6 class="text-primary mb-3">Personas involucradas</h6>
            <c-row class="g-3">
              <c-col xs="12" md="6">
                <h6 class="text-primary mb-3">Alumnos</h6>
                <c-smart-table
                  [activePage]="1"
                  [columnSorter]="true"
                  [columns]="studentColumns"
                  [itemsPerPage]="5"
                  [columnFilter]="true"
                  [loading]="isLoading$ | async"
                  [items]="students$ | async"
                  [sorterValue]="{ column: 'name', state: 'asc' }"
                  [tableProps]="{
                    hover: true,
                    striped: true,
                    responsive: true
                  }"
                  [tableBodyProps]="{ align: 'middle' }"
                  noItemsLabel="Listado de estudiantes vacío"
                  cleaner
                  clickableRows
                  footer
                  header
                  pagination
                >
                  <ng-template
                    cTemplateId="tableData"
                    let-columnName="columnName"
                    let-item="item"
                    let-tdContent="tdContent"
                  >
                    <td
                      [ngClass]="{
                        'table-selected': isInvolved(item.id, item.role)
                      }"
                    >
                      @switch (columnName) { @case ('actions') {
                      <div class="d-flex gap-2">
                        <button
                          *ngIf="!isInvolved(item.id, item.role)"
                          cButton
                          color="info"
                          size="sm"
                          
                          (click)="toggleInvestigationInvolvedModal(item)"
                        >
                          <c-icon name="cil-plus"></c-icon>
                        </button>
                        <button
                          *ngIf="isInvolved(item.id, item.role)"
                          cButton
                          color="danger"
                          size="sm"
                          
                          (click)="
                            removeInvestigationInvolved(item.id, item.role)
                          "
                        >
                          <c-icon name="cil-trash"></c-icon>
                        </button>
                      </div>
                      } @case('name') { @if (isInvolved(item.id, item.role)) {
                      <strong>{{ tdContent }}</strong>
                      <p>
                        {{
                          getInvolvedResponse(item.id, item.role)
                            | translateRoleInComplaintFull
                        }}
                      </p>
                      } @else {
                      {{ tdContent }}
                      } } @default {
                      {{ tdContent }}
                      } }
                    </td>
                  </ng-template>
                </c-smart-table>
              </c-col>
              <c-col xs="12" md="6">
                <h6 class="text-primary mb-3">Profesores</h6>
                <c-smart-table
                  [activePage]="1"
                  [columnSorter]="true"
                  [columns]="teacherColumns"
                  [itemsPerPage]="5"
                  [columnFilter]="true"
                  [loading]="isLoading$ | async"
                  [items]="teachers$ | async"
                  [sorterValue]="{ column: 'name', state: 'asc' }"
                  [tableProps]="{
                    hover: true,
                    striped: true,
                    responsive: true
                  }"
                  [tableBodyProps]="{ align: 'middle' }"
                  noItemsLabel="Listado de profesores vacío"
                  cleaner
                  clickableRows
                  footer
                  header
                  pagination
                >
                  <ng-template
                    cTemplateId="tableData"
                    let-columnName="columnName"
                    let-item="item"
                    let-tdContent="tdContent"
                  >
                    <td
                      [ngClass]="{
                        'table-selected': isInvolved(item.id, item.role)
                      }"
                    >
                      @switch (columnName) { @case ('actions') {
                      <div class="d-flex gap -2">
                        <button
                          *ngIf="!isInvolved(item.id, item.role)"
                          cButton
                          color="info"
                          size="sm"
                          
                          (click)="toggleInvestigationInvolvedModal(item)"
                        >
                          <c-icon name="cil-plus"></c-icon>
                        </button>
                        <button
                          *ngIf="isInvolved(item.id, item.role)"
                          cButton
                          color="danger"
                          size="sm"
                          
                          (click)="
                            removeInvestigationInvolved(item.id, item.role)
                          "
                        >
                          <c-icon name="cil-trash"></c-icon>
                        </button>
                      </div>
                      } @case('name') { @if (isInvolved(item.id, item.role)) {
                      <strong>{{ tdContent }}</strong>
                      <p>
                        {{
                          getInvolvedResponse(item.id, item.role)
                            | translateRoleInComplaintFull
                        }}
                      </p>
                      } @else {
                      {{ tdContent }}
                      } } @default {
                      {{ tdContent }}
                      } }
                    </td>
                  </ng-template>
                </c-smart-table>
              </c-col>
            </c-row>
            <c-row>
              <c-col xs="12">
                <div class="d-flex justify-content-end">
                  <button
                    (click)="onSubmit()"
                    cButton
                    color="primary"
                    type="button"
                  >
                    Iniciar investigación
                  </button>
                </div>
              </c-col>
            </c-row>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <div
    *ngIf="isLoading$ | async"
    class="loading-overlay d-flex justify-content-center align-items-center"
  >
    <c-spinner color="primary" size="xl" />
  </div>
</c-container>

<c-modal
  [visible]="complaintModalVisible"
  (visibleChange)="handleComplaintModalChange($event)"
>
  <c-modal-header>
    <h5>
      Denuncia hecha por {{ getComplaintUserRole(selectedComplaint) }}
      {{ getComplaintUserName(selectedComplaint) }}
    </h5>
    <button (click)="toggleComplaintModal(null)" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <h6 class="text-primary mb-3">Detalles de la denuncia</h6>
    <p><strong>Descripción:</strong> {{ selectedComplaint?.description }}</p>
    <p>
      <strong>Ubicación:</strong> {{ selectedComplaint?.where_description }}
    </p>
    <p>
      <strong>Con quién:</strong>
      {{ selectedComplaint?.with_description || "No especificado" }}
    </p>
    <p>
      <strong>Estaba solo:</strong> {{ selectedComplaint?.alone ? "Sí" : "No" }}
    </p>
    <p>
      <strong>Fecha del evento:</strong>
      {{ selectedComplaint?.date_event | date : "long" }}
    </p>
    <p>
      <strong>Rol en la denuncia:</strong>
      {{ selectedComplaint?.role_in_complaint | translateRoleInComplaint }}
    </p>

    <hr class="my-4" />
  </c-modal-body>
</c-modal>

<c-modal
  [visible]="investigationInvolvedModalVisible"
  (visibleChange)="handleInvestigationInvolvedModalChange($event)"
>
  <c-modal-header>
    <h5>Agregar persona involucrada</h5>
    <button
      (click)="toggleInvestigationInvolvedModal(null)"
      cButtonClose
    ></button>
  </c-modal-header>
  <c-modal-body>
    <h6 class="text-primary mb-3">
      Agregar a la investigación a
      {{ selectedInvestigationInvolved?.role | translateRole }}
      {{ selectedInvestigationInvolved?.name }}
    </h6>
    <div class="mb-3">
      <label cLabel for="role_in_complaint"
        >Ingrese cómo estuvo involucrado</label
      >
      <c-input-group>
        <select
          [(ngModel)]="selectedRoleInComplaint"
          cFormControl
          cSelect
          id="role_in_complaint"
        >
          <option [value]="null" disabled>Seleccione</option>
          <option *ngFor="let role of roleInComplaintOptions" [value]="role">
            {{ role | translateRoleInComplaintFull }}
          </option>
        </select>
      </c-input-group>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button
      cButton
      color="info"
      (click)="
        addInvestigationInvolved(
          selectedInvestigationInvolved,
          selectedRoleInComplaint
        )
      "
    >
      Agregar
    </button>
  </c-modal-footer>
</c-modal>
