<c-container>
  <c-row>
    <c-col xs="12">
      <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
        <c-card>
          <c-card-header>
            <p>
              Ingresar registro de entrevista de apoderados para el estudiante:
              <strong class="text-primary">{{ studentName }}</strong>
            </p>
          </c-card-header>
          <c-card-body>
            <h6 class="text-primary mb-3">Datos Generales</h6>
            <c-row class="g-3">
              <c-col xs="12" md="6">
                <div>
                  <label cLabel for="interview_date">
                    Fecha de entrevista
                  </label>
                  <c-input-group class="has-validation">
                    <date-time-picker formControlName="interview_date" />
                    <c-form-feedback
                      *ngIf="
                        form.get('interview_date')?.invalid &&
                        form.get('interview_date')?.touched
                      "
                      [valid]="form.valid"
                    >
                      {{ getErrorMessage("interview_date") }}
                    </c-form-feedback>
                  </c-input-group>
                </div>
              </c-col>
              <c-col xs="12" md="6">
                <div>
                  <label cLabel for="reason"> Motivo de la entrevista </label>
                  <c-input-group class="has-validation">
                    <input
                      formControlName="reason"
                      cFormControl
                      id="reason"
                      type="text"
                      placeholder="Motivo de la entrevista"
                    />
                  </c-input-group>
                </div>
              </c-col>
              <c-col xs="12" md="6">
                <div>
                  <c-card>
                    <c-card-header>
                      <p class="text-primary">Antecedentes</p>
                    </c-card-header>
                    <c-card-body>
                      <quill-editor
                        class="quill-editor"
                        formControlName="records"
                        [modules]="editorModules"
                      >
                      </quill-editor>
                      <span class="ql-formats">
                        <div id="counter"></div>
                        Máximo: 34.500 caracteres
                      </span>
                    </c-card-body>
                  </c-card>
                </div>
              </c-col>
              <c-col xs="12" md="6">
                <div>
                  <c-card>
                    <c-card-header>
                      <p class="text-primary">Comentarios de apoderados</p>
                    </c-card-header>
                    <c-card-body>
                      <quill-editor
                        class="quill-editor"
                        formControlName="comments"
                        [modules]="editorModules"
                      >
                      </quill-editor>
                      <span class="ql-formats">
                        <div id="counter"></div>
                        Máximo: 34.500 caracteres
                      </span>
                    </c-card-body>
                  </c-card>
                </div>
              </c-col>
              <c-col xs="12" md="12">
                <div>
                  <c-card>
                    <c-card-header>
                      <p class="text-primary">Acuerdos</p>
                    </c-card-header>
                    <c-card-body>
                      <quill-editor
                        class="quill-editor"
                        formControlName="agreements"
                        [modules]="editorModules"
                      >
                      </quill-editor>
                      <span class="ql-formats">
                        <div id="counter"></div>
                        Máximo: 34.500 caracteres
                      </span>
                    </c-card-body>
                  </c-card>
                </div>
              </c-col>
            </c-row>
          </c-card-body>
          <c-card-footer>
            <c-row>
              <c-col xs="12" class="d-flex justify-content-end">
                <button
                  cButton
                  color="primary"
                  size="md"
                  [disabled]="form.invalid || (isLoading$ | async)"
                  type="submit"
                >
                  <ng-container *ngIf="isLoading$ | async; else showText">
                    <c-spinner aria-hidden="true" size="sm"></c-spinner>
                  </ng-container>
                  <ng-template #showText>
                    <span>Ingresar entrevista</span>
                  </ng-template>
                </button>
              </c-col>
            </c-row>
          </c-card-footer>
        </c-card>
      </form>
    </c-col>
  </c-row>
</c-container>
