<c-row *ngIf="sociogram">
  <c-col xs="12">
    <c-alert
      *ngIf="sociogram.feeling_towards_the_institution.answers_graph.length > 0"
      color="success"
      style="text-align: center"
    >
      {{ sociogram.feeling_towards_the_institution.description }}
    </c-alert>
  </c-col>
  <c-col>
    <c-alert
      *ngIf="
        sociogram.feeling_towards_the_institution.answers_graph.length === 0
      "
      color="warning"
      style="text-align: center"
    >
      No se dispone de información suficiente para analizar y determinar
      conformidad con la institución
    </c-alert>

    <c-card
      class="mb-4"
      *ngFor="
        let questionReport of sociogram.feeling_towards_the_institution
          .answers_graph
      "
    >
      <c-card-header style="padding: 1em">
        <b>{{ questionReport.question }} </b>
      </c-card-header>
      <c-card-body>
        <ul cListGroup>
          <c-container
            *ngFor="let key_answer of getKeysByObject(questionReport.answers)"
          >
            <li cListGroupItem>
              <c-row>
                <c-col xs="12" md="4">
                  {{ key_answer | translateReport }}
                </c-col>
                <c-col xs="12" md="8">
                  <c-progress [value]="questionReport.answers[key_answer]"
                    >{{ questionReport.answers[key_answer] }}%
                  </c-progress>
                </c-col>
              </c-row>
            </li>
          </c-container>
        </ul>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
