.construction-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  text-align: center;
  background-color: #f8f9fa; /* Color de fondo suave */
}

.construction-page h1 {
  font-size: 2.5rem;
  color: #6c757d; /* Color de texto gris */
}
