<c-container>
  <c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
          <c-row>
            <c-col xs="12" md="6">
              <strong>Listado de Profesores</strong>
            </c-col>
            <c-col
              xs="12"
              md="6"
              style="
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
              "
            >
              <button
                cButton
                color="primary"
                size="sm"
                style="color: white"
                (click)="onCreate()"
              >
                Registrar nuevo profesor
              </button>
            </c-col>
          </c-row>
          <c-row
            *ngIf="isSuperAdmin"
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
            "
          >
            <c-col
              xs="12"
              md="6"
              style="
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
              "
            >
              <button
                cButton
                color="warning"
                size="sm"
                style="color: white"
                (click)="upload()"
              >
                Carga Masiva
              </button>
            </c-col>
            <c-col
              xs="12"
              md="6"
              style="
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
              "
            >
              <button
                cButton
                color="warning"
                size="sm"
                style="color: white"
                (click)="download()"
              >
                Descargar plantilla
              </button>
            </c-col>
          </c-row>
        </c-card-header>
        <c-card-body>
          <c-smart-table
            [activePage]="1"
            [columnSorter]="true"
            [columns]="columns"
            [columnFilter]="true"
            [itemsPerPageSelect]="true"
            [loading]="isLoading | async"
            [itemsPerPage]="20"
            [items]="teachers | async"
            [sorterValue]="{ column: 'name', state: 'asc' }"
            [tableFilter]="true"
            [tableProps]="{ hover: true, striped: true, responsive: true }"
            [tableBodyProps]="{ align: 'middle' }"
            tableFilterPlaceholder="Buscar profesores..."
            noItemsLabel="Listado de profesores vacío"
            itemsPerPageLabel="Ítems por página"
            cleaner
            clickableRows
            footer
            header
            pagination
          >
            <ng-template
              cTemplateId="tableData"
              let-columnName="columnName"
              let-item="item"
              let-tdContent="tdContent"
            >
              <td>
                @switch (columnName) { @case ('actions') {
                <div class="d-flex gap-2">
                  <button
                    cTooltip="Perfil del profesor"
                    cTooltipPlacement="bottom"
                    cButton
                    color="info"
                    size="sm"
                    (click)="goToTeacherProfile(item.id)"
                  >
                    <c-icon name="cil-people"></c-icon>
                  </button>

                  <button
                    cButton
                    color="info"
                    size="sm"
                    (click)="onUpdate(item.id)"
                    cTooltip="Editar Profesor"
                    cTooltipPlacement="bottom"
                  >
                    <c-icon name="cil-pencil"></c-icon>
                  </button>

                  <button
                    cButton
                    color="danger"
                    size="sm"
                    cTooltip="Eliminar Profesor"
                    cTooltipPlacement="bottom"
                    (click)="openDeleteModal(item.id, item.name)"
                  >
                    <c-icon name="cil-trash"></c-icon>
                  </button>
                </div>
                } @default {
                {{ tdContent }}
                } }
              </td>
            </ng-template>
          </c-smart-table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <!-- Modal de Confirmación -->
  <c-modal
    [(visible)]="deleteModalVisible"
    title="Confirmar eliminación"
    color="danger"
    (closed)="resetModal()"
  >
    <div class="modal-body">
      <p>
        ¿Estás seguro de que deseas eliminar el profesor
        <strong>{{ selectedTeacherName }}</strong
        >?
      </p>
    </div>
    <div class="modal-footer">
      <button cButton color="secondary" (click)="deleteModalVisible = false">
        Cancelar
      </button>
      <button cButton color="danger" (click)="onConfirmDelete()">
        Confirmar
      </button>
    </div>
  </c-modal>
</c-container>
