<c-container>
  <c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
          <c-container>
            <c-row>
              <c-col xs="6">
                <strong>Listado de investigaciones</strong>
              </c-col>
              <c-col
                xs="6"
                style="
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                "
              >
                <button
                  (click)="goToInvestigationForm()"
                  cButton
                  color="primary"
                  size="sm"
                  style="color: white"
                >
                  Nueva investigación
                </button>
              </c-col>
            </c-row>
          </c-container>
        </c-card-header>
        <c-card-body>
          <c-smart-table
            [activePage]="1"
            [columnSorter]="true"
            [columns]="columns"
            [columnFilter]="true"
            [itemsPerPageSelect]="true"
            [itemsPerPage]="20"
            [loading]="isLoading | async"
            [items]="investigations | async"
            [sorterValue]="{ column: 'name', state: 'asc' }"
            [tableFilter]="true"
            [tableProps]="{ hover: true, striped: true, responsive: true }"
            [tableBodyProps]="{ align: 'middle' }"
            tableFilterPlaceholder="Buscar investigación"
            noItemsLabel="Listado de investigaciones"
            itemsPerPageLabel="Ítems por página"
            cleaner
            clickableRows
            footer
            header
            pagination
          >
            <ng-template
              cTemplateId="tableData"
              let-columnName="columnName"
              let-item="item"
              let-tdContent="tdContent"
            >
              <td>
                @switch (columnName) { @case ('actions') {
                <div>
                  <button
                    (click)="goToInvestigationDetail(item.id)"
                    cButton
                    color="info"
                    size="sm"
                    
                  >
                    <c-icon name="cil-pencil"></c-icon>
                  </button>
                </div>
                }
                @case ('state') {
                <c-progress [value]="getStatePercentage(tdContent)" [color]="getStateColor(tdContent)">
                  {{ tdContent | translateInvestigationState }}
                </c-progress>
                } @default {
                {{ tdContent }}
                } }
              </td>
            </ng-template>
          </c-smart-table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>
